{{ partial "head.html" . }}

<body id="home">

{{ partial "header.html" . }}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-3 bread">Blog</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row d-flex">
        {{ range .Paginator.Pages }}
        <div class="col-md-4 d-flex ftco-animate">
            {{ if eq .Section "blog" }}
            <div class="blog-entry justify-content-end">
                <div class="text px-4 py-4">
                    <h3 class="heading mb-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                </div>
            <a href="{{.Permalink}}" class="block-20" style="background-image: url('{{ .Params.thumb }}');"></a>
            <div class="text p-4 float-right d-block">
                <div class="topper d-flex align-items-center">
                    <div class="one py-2 pl-3 pr-1 align-self-stretch">
                        <span class="day">{{.Params.day}}</span>
                    </div>
                    <div class="two pl-0 pr-3 py-2 align-self-stretch">
                        <span class="yr">{{.Params.year}}</span>
                        <span class="mos">{{.Params.month}}</span>
                    </div>
                </div>
              <p>{{.Params.desc}}</p>
              <p><a href="{{ .Permalink }}" class="btn btn-primary">Read more</a></p>
            </div>
            </div>
              {{ end }}
        </div>
        {{ end }}
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <!-- Pagination navigation -->
              {{ if .Paginator.HasPrev }}
              <li><a href="{{ .Paginator.Prev.URL }}">&lt;</a></li>
              {{ end }}
              {{ range .Paginator.Pagers }}
              {{ if eq $.Paginator.PageNumber .PageNumber }}
                <li class="active"><span>{{ .PageNumber }}</span></li>
              {{ else }}
                <li><a href="{{ .URL }}" class="">{{ .PageNumber }}</a></li>
              {{ end }}
              {{ end }}
              {{ if .Paginator.HasNext }}
              <li><a href="{{ .Paginator.Next.URL }}">&gt;</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
    <div class="container">
      <div class="row d-flex justify-content-end">
          <div class="col-md-8 py-4 px-md-4 bg-primary">
              <div class="row">
                <div class="col-md-6 ftco-animate d-flex align-items-center">
                  <h2 class="mb-0" style="color:white; font-size: 24px;">Subcribe to our Newsletter</h2>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>


{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

</body>
</html>